!  ██     ██      ██           ████                    ██   ██          
! ░░██   ██      ░██          ░██░                    ░██  ░██          
!  ░░██ ██       ░██  █████  ██████  ██████   ██   ██ ░██ ██████  ██████
!   ░░███     ██████ ██░░░██░░░██░  ░░░░░░██ ░██  ░██ ░██░░░██░  ██░░░░ 
!    ██░██   ██░░░██░███████  ░██    ███████ ░██  ░██ ░██  ░██  ░░█████ 
!   ██ ░░██ ░██  ░██░██░░░░   ░██   ██░░░░██ ░██  ░██ ░██  ░██   ░░░░░██
!  ██   ░░██░░██████░░██████  ░██  ░░████████░░██████ ███  ░░██  ██████ 
! ░░     ░░  ░░░░░░  ░░░░░░   ░░    ░░░░░░░░  ░░░░░░ ░░░    ░░  ░░░░░░  
!
!  ▓▓▓▓▓▓▓▓▓▓
! ░▓ author ▓ xero <x@xero.nu>
! ░▓ code   ▓ http://code.xero.nu/dotfiles
! ░▓ mirror ▓ http://git.io/.files
! ░▓▓▓▓▓▓▓▓▓▓
! ░░░░░░░░░░
!


! █▓▒░ color scheme
#include "/home/zeke/.xfiles/gunmetal.Xcolors"

! █▓▒░ fonts
urxvt*font: xft: Iosevka Nerd Font Mono:style=Medium:size=14
st.font: Iosevka Nerd Font Mono:style=Medium:pixelsize=14:antialias=true:autohint=true


urxvt*boldFont: 
urxvt*italicFont: 
urxvt*bolditalicFont: 

urxvt*letterSpace: 0
urxvt*lineSpace: 0

! █▓▒░ interface
urxvt*scrollBar: false
!urxvt*transparent: true
urxvt*shading: 15
!urxvt*depth: 32
!urxvt*background: rgba:0000/0000/0000/1111
!urxvt*internalBorder: 5 
!urxvt*borderColor: #1c1c1c
urxvt*borderLess:false

! config
URxvt*buffered: false

! █▓▒░ extensions
urxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
urxvt.keysum.M-u: perl:url-select:select_next
urxvt.url-select.autocopy: true
urxvt.url-select.launcher: chromium
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-c:   perl:clipboard:copy
urxvt.keysym.C-v:   perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.clipboard.copycmd:  xsel -ib
urxvt.clipboard.pastecmd: xsel -ob

! █▓▒░ misc
urxvt.saveLines: 9999
urxvt.iso14755: false
!URxvt*altSendsEscape: true


